<template>
  <Login />
</template>

<script>
import "../static/styles/index.css"
import { mapActions, mapMutations, mapGetters } from "vuex";
import Login from "../pages/Login.vue"
export default {
  name: "IndexPage",
  components: {
    Login,
  },
};
</script>
