<template>
  <div id="mainpage">
    <Header />
    <div class="mainpage__content">
      <div class="mainpage__content-title">
        <h1 class="title-name">Добро пожаловать,Alex Adams!</h1>
        <p class="email">alexadams@google.com</p>
      </div>
      <div class="mainpage__content-mywallets">
        <h3>Мои кошельки</h3>
        <div class="mywallets__wallets-container">
          <div class="item">
            <h4>Visa</h4>
            <p>RUB</p>
          </div>
          <div class="item second">
            <h4>Visa</h4>
            <p>RUB</p>
          </div>
          <div class="item third">
            <h4>Visa</h4>
            <p>RUB</p>
          </div>
          <div class="item fourth">
            <h4>Visa</h4>
            <p>RUB</p>
          </div>
        </div>
        <NuxtLink to="Mywallets">Смотреть все кошельки</NuxtLink>
      </div>
      <div class="mainpage__content-transactions">
        <h3>Последние транзакции</h3>
        <div class="transactions__table">
          <table class="table_transactions">
            <tr class="line">
              <th>ID</th>
              <th>Отправлено с кошелька</th>
              <th>Категория</th>
              <th>Сумма транзации</th>
              <th>Когда</th>
            </tr>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
            <tr class="content">
              <td>1232312</td>
              <td>VISA</td>
              <td>Автомобиль</td>
              <td>414,000,000</td>
              <td>4 дня назад</td>
            </tr>
            <div class="underline"></div>
          </table>
          <NuxtLink to="TransactionsPage">Смотреть все оплаты</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "../static/styles/index.css";
import Header from "../components/Header.vue";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  name: "Mainpage",
  layout: "default",
  components: {
    Header,
  },
  methods: {
    ...mapGetters(["user"]),
    // ...mapActions(["CHECK_IT"]),
  },
  created() {
    // this.CHECK_IT();
  },
};
</script>

<style>
nuxt#mainpage {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.mainpage__content {
  margin-top: 3%;
}
.mainpage__content-title {
  width: 100%;
}
</style>
