<template>
  <div id="reg_wrapper">
    <h1>Регистрация</h1>
    <form @submit.prevent="REGISTER()" action="" class="Regist">
      <input type="text" name="email" placeholder="email" />
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="secondName" placeholder="secondname" />
      <input type="text" name="password" placeholder="password" />
      <button  class="btn"
        >Продолжить</button>
    </form>
    <NuxtLink to="Login" class="links">Войти в аккаунт</NuxtLink>
  </div>
</template>

<script>
import "../static/styles/index.css"
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  layout:'zero',
  name: "Registration",
  methods: {
    ...mapActions(["REGISTER"]),

 
  },
  created() {
   
  },
};
</script>

<style>

</style>
