<template>
  <div id="addwallet">
    <h1>Добавить кошелек</h1>
    <form @click.prevent action="" id="Wallet">
      <input type="text" placeholder="Имя" />
      <input type="text" placeholder="Валюта" />
      <button class="btn">Продолжить</button>
    </form>
    <NuxtLink class="links" to="Registration">Регистрация</NuxtLink>
  </div>
</template>

<script>
import "../static/styles/index.css"
export default {
  name: "WalletAdding",
};
</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#addwallet{
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 100vh;
  align-items: center;
  justify-content: center;
}
#addwallet h1{
  font-size: 55px;
}
#Wallet > *{
  margin: 5px 0px;
  height: 56px;
  border: 1px solid black;
  border-radius: 9px;
  padding: 10px;
  font-size: 17px;
  width: 500px;
}
#Wallet{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: max-content;
  margin: 40px 0px;
  align-items: center;
  width: 500px;
}</style>
